*{
    font-family: "Comic Sans MS";
}
body{
    background-image:url(hollow.jpg);
    color:white;
    background-size: cover;
    font-family: "Comic Sans MS";
}
#header{ 
    height: 100px;
    display: flex;
    gap: 50px;
    color: aquamarine;
}

#gitavatar{
    height:50px;
    border-radius:50%;
    border:2px solid #1D546D;
}
#projecting{
    background-image: url("https://i.pinimg.com/736x/31/5e/09/315e09d46f6c3784ed889938fc7b2d8e.jpg");
    background-size: cover;
    width: 120px;
    height: 60px;
}
#animeicon{
    background-image: url("https://i.pinimg.com/736x/96/94/b5/9694b5eb1f55d6d27459537dac6451ca.jpg");
    background-size: 120px 60px;
    width: 120px;
    height: 60px;
}
#contact{
    background-image: url("https://i.pinimg.com/736x/cf/45/4b/cf454b787983248123526a03c88a2a46.jpg");
    background-size: 120px 60px;
    width: 120px;
    height: 60px;
}
a{
    color:white;
}
.link{
    margin-right:200px;
}
#text_av{
    display: flex;
    justify-content: space-between;
}

#pointing1{
    height:100px;
    border-radius: 7px;
    margin-bottom: 15px;
    border-color: white;
    border-width: 2px;
}
#container{
    display: flex;
    gap:400px;
    align-items: center;
}
#intro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 100px;
    height: 100px;
    width : 500px;
}
#avatarbox{
    height:150px;
    width:150px;
}
#avatar{
    border-radius: 50%;
    height:200px;
    width:200px;
    border:5px solid #1D546D;
}
#langtext{
    font-family:Arial, Helvetica, sans-serif ;
    margin-right: 50px;
    margin-top: 20px;
}
.img_show{
    height:50px;
    width:50px;
}
#tooltext{
    font-family:Arial, Helvetica, sans-serif ;
    margin-right: 50px;
    margin-top: 20px;
}
#friendtext{
       font-family:Arial, Helvetica, sans-serif ;
    margin-right: 50px;
    margin-top: 20px;
}
.img_pfp{
    height:100px;
    width:100px;
    border-radius: 50%;
}
