body{
    background-color: black;
}
#header{
    height:200px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}